table > tbody:empty {
  position: relative;
  display: table-caption;
  caption-side: bottom;
  min-height: 50px;
  background-color: white;
  text-align: center;
}
table > tbody:empty:before {
  content: "SIN DATOS";
  position: absolute;
  font-size: 12px;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#grafica {
  width: 100% !important;
}
